* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Amsterdam4";
    src:
        url(fonts/amsterdam-four.ttf)
}

.amsterdam4 {
    font-family: Amsterdam4;
    font-weight: 300;
}

:root {
    --c-bg: #fff;
    --c-font: #000;
    --c-primary: ;
    --c-secondary: ;
    --c-tertiary: ;
    --c-tag: ;
}

.dark {
    --c-bg: #000;
    --c-font: #fff;
    --c-primary: ;
    --c-secondary: ;
    --c-tertiary: ;
    --c-tag: ;
}

body {
    background-color: var(--c-bg);
    color: var(--c-font);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
}


/* ---------- THEME TOGGLE ------------------------------------------------------------ */
#theme-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 31px;
}

/* Hide checkbox */
#theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
#theme-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--c-primary);
    border: 2px solid var(--c-font);
    border-radius: 34px;
    transition: .4s;
}

/* Slider's circle component */
#theme-toggle-slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: var(--c-font);
    transition: .4s;
    border-radius: 50%;
}

/* On click */
input:checked+#theme-toggle-slider:before {
    transform: translateX(26px);
}


/* ---------- HEADER ------------------------------------------------------------ */
header {
    background-color: var(--c-primary);
}

#header-text {}


/* ---------- NAV ------------------------------------------------------------ */
nav {
    background-color: var(--c-secondary);
}


/* ---------- HERO ------------------------------------------------------------ */
#hero {}


/* ---------- SECTIONS (GENERAL) ------------------------------------------------------------ */
.section-header {}

.see-all {}


/* ---------- ABOUT SECTION ------------------------------------------------------------ */
#about-section {
    background-color: var(--c-primary);
}

.about-button {}

/* ---------- SKILLS SECTION ------------------------------------------------------------ */
#main-pg-skills {}

#skills-section {}

.skills-box {

    .sb-title {}

    .sb-rows {}
}



/* ---------- EXPERIENCE SECTION ------------------------------------------------------------ */
#experience-section {}

.experience-box {}

.exp-header {

    .exp-job-title {}

    .exp-position {}

    .exp-date {}

    .exp-company {}
}


.additional-section {}

.dropdown {}

.dropdown-arrow {}

.dropdown-collapse {}


/* ---------- PROJECTS SECTION ------------------------------------------------------------ */
.main-pg-projects-box {}

#projects-section {}

#projects-grid {}

.projects-box {}

#proj-bg-einasvel {}

.proj-info {

    .proj-title {}

    .proj-date {}

    .proj-summary {}
}


/* ---------- CONTACT SECTION ------------------------------------------------------------ */
#contact-section {}

.contact-box {

    a {}
}


/* ---------- CONTACT SECTION ------------------------------------------------------------ */
footer {}


/* ---------- TAGS ------------------------------------------------------------ */
.tag {
    width: min-content;
}

.tag-advanced {
    background-color: var(--c-advanced);
}

.tag-advanced::after {
    content: "Advanced";
}

.tag-proficient {
    background-color: var(--c-proficient);
}

.tag-proficient::after {
    content: "Proficient";
}

.tag-experienced {
    background-color: var(--c-experienced);
}

.tag-experienced::after {
    content: "Experienced";
}

.exp-tag {}

.proj-tag {}