* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Amsterdam4";
    src: url(fonts/amsterdam-four.ttf)
}

.amsterdam4 {
    font-family: Amsterdam4;
    font-weight: 300;
}

:root {
    --c-bg: #fff;
    --c-font: #000;
    --c-shadow: rgb(0, 0, 0, 0.2);
    --c-primary: #ddd;
    --c-secondary: #aaa;
    --c-tertiary: #eee;
    --c-tag: #ccc;
    --c-link: blue;
}

.dark {
    --c-bg: #000;
    --c-font: #fff;
    --c-shadow: rgb(255, 255, 255, 0.2);
    --c-primary: #333;
    --c-secondary: #666;
    --c-tertiary: #222;
    --c-tag: #444;
    --c-link: red;
}

body {
    background-color: var(--c-bg);
    color: var(--c-font);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;

    margin: 0;
    padding: 0;
    cursor: default;
}

p, h3 {
    margin: 0;
    padding: 0;
}


/* ---------- GENERAL STYLING ------------------------------------------------------------ */
.uppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.centered {
    text-align: center;
    display: flex;
    justify-content: center;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}


/* ---------- TAGS ------------------------------------------------------------ */
.tag {
    background-color: var(--c-tag);
    padding: 3px 10px;
    border-radius: 15px;
    font-size: smaller;
}

.tag-advanced {}

.tag-advanced::after {
    content: "Advanced";
}

.tag-proficient {}

.tag-proficient::after {
    content: "Proficient";
}

.tag-experienced {}

.tag-experienced::after {
    content: "Experienced";
}

.exp-tag {}

.proj-tag {}


/* ---------- THEME TOGGLE ------------------------------------------------------------ */
#theme-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 31px;
}

/* Hide checkbox */
#theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
#theme-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--c-primary);
    border: 2px solid var(--c-font);
    border-radius: 34px;
    transition: .4s;
}

/* Slider's circle component */
#theme-toggle-slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: var(--c-font);
    transition: .4s;
    border-radius: 50%;
}

/* On click */
input:checked+#theme-toggle-slider:before {
    transform: translateX(26px);
}


/* ---------- HEADER ------------------------------------------------------------ */
header {
    background-color: var(--c-primary);
    height: 50px;
    align-content: center;
    box-shadow: 0 5px 10px var(--c-shadow);
    z-index: 5;
    position: fixed;
    width: 100%;
}

.header-top {
    padding: 0 20px;
}

#header-text {
    font-size: 200%;
    font-weight: 300;
    align-content: center;
}


/* ---------- NAV ------------------------------------------------------------ */
nav {
    background-color: var(--c-secondary);
    border-right: 1px solid var(--c-font);
    position: fixed;
    /* nav positioning "left: -300px" initialized in js */
    height: 100%;
    transition: left 0.2s ease-out;
    z-index: 4;

    /* for header */
    margin-top: 10px;
    padding-top: 20px;

    ul {
        padding: 0;
        cursor: pointer;
    }

    ul li {
        list-style-type: none;
        letter-spacing: 0.5px;
    }

    ul li:hover {
        font-weight: 500;
        letter-spacing: 0.4px;
    }

    ul li a {
        display: block;
        color: var(--c-font);
        text-decoration: none;
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0;
        border-bottom: 1px solid var(--c-font);
    }

}

#hamburger {
    font-size: 25px;
    align-self: center;
    margin-right: 20px;
    cursor: pointer;
}


/* ---------- MAIN ------------------------------------------------------------ */
main {
    padding-top: 50px;
}


/* ---------- HERO ------------------------------------------------------------ */
#hero {
    padding-top: 50px;
    height: 80vh;
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-text {
    line-height: normal;

    #hero-name {
        display: grid;
        width: fit-content;
        margin: auto;
        grid-template-areas:
            "first ."
            ". last"
        ;

        #firstname {
            font-size: 200%;
            font-weight: 400;
            grid-area: first;
        }

        #lastname {
            font-size: 300%;
            grid-area: last;
            z-index: 3;
        }
    }

    #blue-line {
        height: 0;
        width: 100%;
    }

    #blue-line::after {
        display: block;
        transform: translateY(-42px);
        content: "";
        width: 90%;
        margin: auto;
        height: 30px;
        background-color: var(--c-tertiary);
    }

    #hero-small-text {
        margin: 0;
        text-align: center;
    }
}


/* ---------- SECTIONS (GENERAL) ------------------------------------------------------------ */
.section-padding {
    padding: 30px;
}

.section-header {}

.see-all {
    margin-top: 10px;
    text-decoration: none;
    color: var(--c-link);
}

.prim-bg {
    background-color: var(--c-primary);
}

.split {
    display: grid;
    grid-template-columns: 1fr 1px 2fr;
    gap: 20px;

    .section-header {
        text-align: right;
    }
}

.split-divider {
    background-color: var(--c-font);
}


/* ---------- ABOUT SECTION ------------------------------------------------------------ */
#about-section {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

#headshot-img {
    min-width: 200px;
    min-height: 100%;
    background-image: url(images/headshot.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-button {
    padding: 10px 15px;
    margin-top: 10px;
    width: max-content;
    color: var(--c-bg);
    background-color: var(--c-font);
    font-weight: 300;
    font-size: smaller;
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 0.4px;
    cursor: pointer;
}


/* ---------- SKILLS SECTION ------------------------------------------------------------ */
#main-pg-skills {
    width: 100%;
}

#skills-section {}

.skills-box {

    .sb-title {}

    .sb-rows {}
}



/* ---------- EXPERIENCE SECTION ------------------------------------------------------------ */
#experience-section {}

.split #experience-section {
    /* main page */
    margin-bottom: 20px;
}

.experience-box {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--c-secondary);
    border-radius: 5px;
}

.exp-header {
    display: flex;
    justify-content: space-between;

    .exp-job-title {
        /* medium */
        font-weight: 500;
    }

    .exp-date {
        padding-top: 5px;
        font-size: smaller;
    }

    .exp-company {
        /* medium */
        font-weight: 500;
        text-align: right;
    }
}


.additional-section {}

.dropdown {}

.dropdown-arrow {}

.dropdown-collapse {}


/* ---------- PROJECTS SECTION ------------------------------------------------------------ */
.main-pg-projects-box {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.proj-info {

    .proj-title {
        /* medium */
        font-weight: 500;
    }

    .proj-date {
        font-size: smaller;
    }

    .proj-summary {
        margin-top: 5px;
        font-size: smaller;
    }
}

#projects-section {}

#projects-grid {}

.projects-box {}

#proj-bg-1 {
    background: linear-gradient(to right, var(--c-secondary) 60%, rgba(0, 0, 0, 0)), url(images/headshot.jpg) no-repeat right;
    background-color: var(--c-secondary);
}

#proj-bg-2 {
    background: linear-gradient(to left, var(--c-secondary) 60%, rgba(0, 0, 0, 0)), url(images/headshot.jpg) no-repeat left;
    background-color: var(--c-secondary);
}

#proj-bg-3 {
    background: linear-gradient(to right, var(--c-secondary) 60%, rgba(0, 0, 0, 0)), url() no-repeat right;
    background-color: var(--c-secondary);
}

#proj-bg-4 {
    background: linear-gradient(to left, var(--c-secondary) 60%, rgba(0, 0, 0, 0)), url() no-repeat left;
    background-color: var(--c-secondary);
}


/* ---------- CONTACT SECTION ------------------------------------------------------------ */
.contact-box {
    background-color: var(--c-font);
    border-radius: 5px;
    margin-top: 20px;

    a {
        display: block;
        height: 100px;
        width: 125px;
        padding: 10px;
        align-content: end;
        text-decoration: none;
        color: var(--c-bg);
    }
}


/* ---------- FOOTER ------------------------------------------------------------ */
footer {
    padding: 20px;
    margin-top: 5em;
    font-size: smaller;
    text-align: center;
    background-color: var(--c-primary);
    box-shadow: 0 -5px 10px var(--c-shadow);
    z-index: 3;
}